
 @import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;300;400;600;700;800&family=Young+Serif&display=swap');
.main{
    color:white;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    background-color: #003566;
    margin-bottom: 20px;
}
body{
    background-color: #ade8f4;
    font-family: 'Martian Mono', monospace;
}
h1{
    text-align: center;
    color: white;
    padding: 3px;
}
.banner
{
    margin-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.banner:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.map
{
 margin-top: 50px;
 margin-bottom: 50px;
 text-align: center;
}
.photos
{
 width: 100%;
 margin-top: 20px;
 margin-bottom: 50px;
 display:flex;
 flex-direction: row;
 box-sizing: border-box;
 justify-content: space-evenly;


}
.card {
    background-color: #003566;
    width: 25%;
    height:50%;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
   h4{
    color: white;
  }
  p{
    color: white;
  }
  .footer
  {
    width: 100%;
    height: 300px;
    background-color:#2f3133 ;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    font-size: 20px;
    
  }
  pre{
    padding-top: -70px;
  }